vaadin-grid#transparent-header {
	height: auto;
	font: 500 17px "Open Sans", sans-serif;
	color: rgb(148, 154, 171);
	divider-color: rgb(223, 232, 239);
	vaadin-grid-cell: {
		padding: 0 13px;
	};

	vaadin-grid-body-cell: {
		height: 80px;
	};

    vaadin-grid-header-cell: {
		background: rgba(235, 238, 246, 0.9);
		border-bottom: 1px solid rgba(208, 217, 225, 0.9);
		border-top: 1px solid rgba(248, 250, 252, 0.9);
		min-height: 55px;
		background-image: linear-gradient(rgba(108, 160, 218, 0), rgba(108, 160, 218, 0.15));
		background-size: 1px 100%;
		background-position: 100% 0%;
		background-repeat: no-repeat;
	};

	vaadin-grid-body-row-selected-cell: {
		background-color: rgb(131, 183, 236);
		color: #fff;
		border-bottom-color: rgb(108, 160, 218);
	};
		vaadin-grid-body-row-odd-cell: {
		background-color: rgb(251, 252, 254);
	};
	    vaadin-grid-body-row-hover-cell: {
		background-color: rgb(235, 238, 246);
	};
		vaadin-grid-column-resize-handle: {
		opacity: 0;
	};
};
